[Unit]
Description=Disable getty-ttys* services on boot and when (re-)enabled
DefaultDependencies=yes
Before=multi-user.target
After=local-fs.target getty.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'for s in $(systemctl show 'serial-getty*.service' --state=active --property=Id --value | sort -u); do systemctl stop $s; systemctl disable $s; done'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
